* {
    margin: auto;
    padding: auto;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #a29bfe;
}

form {
    display: grid;
    padding: 15px;
}

input {
    width: 350px;
    padding: 5px;
    margin-bottom: 5px;
}

h1 {
   padding: 40px;
   text-align: center;
}

.resultado {
    padding: 15px;
    text-align: center;
}